$base-font-size     : 2em;
$base-text-color    : #EEE6D9;
$base-link-color    : #97708A;
$base-hdr-color     : #AB6361;
$base-back-color    : #583A52;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-large: 960px; 

/* Fonts */
$font-header2:'Poiret One', cursive;;
$font-header3:'Poiret One', cursive; ;
$font-para:'Poiret One', cursive;;
